@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.ex1-page{


.logica{

background-color: #ffffff;
display: flex;
flex-direction: column;
align-self: center;
padding: 40px;
gap: 15px;
border-radius: 3px ;
box-shadow: 1px 1px 3px #000;

h1{

font-family: 'Oswald';

}

p{


    font-family: 'Oswald';
}

}


}