.home-page {

    .secao1{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
       

    h1 {
        width: 441px;
        height: 30px;
        top: 157px;
        left: 80px;
        gap: 0px;
        opacity: 0px;
        margin-top: 25px;

        font-family: 'Rubik';
        font-size: 26px;
        font-weight: 700;
        line-height: 30.47px;
        text-align: center;

        color: #383131;
    }


    .cards-abrigo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div{
            border: solid 1px black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
        .card:hover{
            height: 200px;
        }
        .card {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            width: 215px;
            height: 158px;
            top: 223px;
            left: 80px;
            gap: 10px;
            border-radius: 12px;
            opacity: 0px;


            .retangulo{
                width: 60px;
                height: 60px;
                gap: 0px;
                border-radius: 12px 0px 0px 0px;
                opacity: 0px;
            }


            .ciano {
                background: #37FFF3;

            }
            .vermelho {
                background: #e71414;

            }
            .verde {
                background: #0ee932;

            }
            .roxo {
                background: #800080;

            }
            .amarelo {
                background: #fbff00;
            }
            .marrom {
                background: #4b2502;
            }
            .azul {
                background: #1613cf;
            }
            .rosa {
                background: #dd1891;
            }
            .preto {
                background: #000000;
            }
            .vinho {
                background: #520e0e;
            }
            .verde-escuro {
                background: #113a1a;
            }
            .cinza {
                background: #808080;
            }
            .bege {
                background: #f1f1c2;
            }
            .branco {
                background: white;
            }

            h2 {
                width: 215px;
                height: 16px;
                top: 315px;
                left: 600px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-align: center;

            }

            p {
                width: 215px;
                height: 39px;
                top: 335px;
                left: 80px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                text-align: center;


            }

        }

       
       
    }
}
}