.home-page {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        

        width: 1440px;
        height: 90px;
        gap: 20px;
        opacity: 0px;
        background: #6278F7;

        .opcoes{
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin-left: 450px;

        }

        img {
            width: 51.52px;
            height: 60px;
            top: 15px;
            left: 80px;
            gap: 0px;
            opacity: 0px;
            margin-left: 20px;
            margin-right: 20px;

        }

        h1 {
            width: 103px;
            height: 23px;
            top: 34px;
            left: 167px;
            gap: 0px;
            opacity: 0px;

            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            line-height: 23.44px;
            text-align: left;

            color: #F5F6FA;
            margin-right: 900px;
            
            


        }

    

            p {
                width: 49px;
                height: 23px;
                top: 34px;
                left: 1237px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 20px;
                font-weight: 400;
                line-height: 23.44px;
                text-align: right;
                text-decoration: none;

                color: #F5F6FA;
               



            }
        

    }

    .secao1{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

    h1 {
        width: 441px;
        height: 30px;
        top: 157px;
        left: 80px;
        gap: 0px;
        opacity: 0px;
        margin-top: 25px;

        font-family: 'Rubik';
        font-size: 26px;
        font-weight: 700;
        line-height: 30.47px;
        text-align: center;

        color: #383131;
    }


    div {
        display: flex;
        flex-direction: row;
        

        .um {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 215px;
            height: 158px;
            top: 223px;
            left: 80px;
            gap: 10px;
            border-radius: 12px 0px 0px 0px;
            opacity: 0px;

            .amarelo {
                width: 60px;
                height: 60px;
                top: 241px;
                left: 157px;
                gap: 0px;
                border-radius: 12px 0px 0px 0px;
                opacity: 0px;

                background-color: #FFCE37;


            }

            h2 {
                width: 215px;
                height: 16px;
                top: 315px;
                left: 600px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-align: center;

            }

            p {
                width: 215px;
                height: 39px;
                top: 335px;
                left: 80px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                text-align: center;
                
            }

        }

        .dois {
            display: flex;
            flex-direction: column;

            width: 215px;
            height: 158px;
            top: 223px;
            left: 80px;
            gap: 10px;
            border-radius: 12px 0px 0px 0px;
            opacity: 0px;
            align-items: center;

            .verde {
                width: 60px;
                height: 60px;
                top: 241px;
                left: 157px;
                gap: 0px;
                border-radius: 12px 0px 0px 0px;
                opacity: 0px;

                background: #B3FF37;


            }

            h2 {
                width: 215px;
                height: 16px;
                top: 315px;
                left: 600px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-align: center;

            }

            p {
                width: 215px;
                height: 39px;
                top: 335px;
                left: 80px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                text-align: center;


            }


        }

        .tres {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 215px;
            height: 158px;
            top: 223px;
            left: 80px;
            gap: 10px;
            border-radius: 12px 0px 0px 0px;
            opacity: 0px;

            .ciano {
                width: 60px;
                height: 60px;
                top: 241px;
                left: 157px;
                gap: 0px;
                border-radius: 12px 0px 0px 0px;
                opacity: 0px;

                background: #37FFF3;


            }

            h2 {
                width: 215px;
                height: 16px;
                top: 315px;
                left: 600px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-align: center;

            }

            p {
                width: 215px;
                height: 39px;
                top: 335px;
                left: 80px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                text-align: center;


            }

        }

        .onze {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 215px;
            height: 158px;
            top: 223px;
            left: 80px;
            gap: 10px;
            border-radius: 12px 0px 0px 0px;
            opacity: 0px;

            .vermelho {
                width: 60px;
                height: 60px;
                top: 241px;
                left: 157px;
                gap: 0px;
                border-radius: 12px 0px 0px 0px;
                opacity: 0px;

                background-color: #ff0000;


            }

            h2 {
                width: 215px;
                height: 16px;
                top: 315px;
                left: 600px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-align: center;

            }

            p {
                width: 215px;
                height: 39px;
                top: 335px;
                left: 80px;
                gap: 0px;
                opacity: 0px;

                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.41px;
                text-align: center;
                
            }

        }
    }
}
}