.home-page {

    .secao1{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
       

    h1 {
        width: 441px;
        height: 30px;
        top: 157px;
        left: 80px;
        gap: 0px;
        opacity: 0px;
        margin-top: 25px;

        font-family: 'Rubik';
        font-size: 26px;
        font-weight: 700;
        line-height: 30.47px;
        text-align: center;

        color: #383131;
    }


    .cards-abrigo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

      
       
       
    }
}
}