.ex2-page{

    .cabecalho{
    
        .opcoes{
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin-left: 450px;
    
            }
    
    
    }
    
    .titulos1{
    
    font-family: 'Rubik';
    margin: 15px;
    margin-top: 20px;
    }

.secao1{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

.enunciado{

    display: flex;
    background-color: #ffffff;
    padding: 70px;
    margin-bottom: 30px;
    margin-top: 70px;
    border-radius: 15px;
    width: 1100px;
   

    p{

margin-left: 180px;

    }
    }

    .logica{

display: flex;
flex-direction: column;
align-items: center;
background-color: #ffffff;
padding: 20px;
border-radius: 15px;
min-width: 400px;
box-shadow: 1px 1px 2px #000;

input{

padding: 5px;
border-radius: 10px;
width: 150px;
margin-top: 10px;
}


button{

    max-width: 150px;
    margin-top: 60px;
    padding: 10px;
    background-color: #6262e6;
    color: #ffffff;
    border-radius: 10px;
    }

    }
}
}