.ex9-page{


    .logica{

display: flex;
flex-direction: column;
align-items: center;
background-color: #ffffff;
padding: 20px;
border-radius: 15px;
min-width: 400px;
box-shadow: 1px 1px 2px #000;

input{

padding: 5px;
border-radius: 10px;
width: 150px;
margin-top: 10px;
}


button{

    max-width: 150px;
    margin-top: 60px;
    padding: 10px;
    background-color: #6262e6;
    color: #ffffff;
    border-radius: 10px;
    }

    }

}