*{
margin: 0;
box-sizing: border-box;
text-decoration: none;



body{

background-color: #cfd4e9;
display: flex;
flex-direction: column;
}


.titulos1{
    
    font-family: 'Rubik';
    margin: 15px;
    margin-top: 20px;
    }

.secao1{

display: flex;
flex-direction: column;
padding: 20px;
align-items: center;
justify-content: center;
gap: 50px;

.enunciado{

    display: flex;
    background-color: #ffffff;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 70px;
    border-radius: 20px;
    max-width: 75%;
    }


}

p{

font-family: 'Rubik';
text-align: center;

}

Link{

text-decoration: none;


}



    .resultado{
        font-family: 'Rubik';
        
        }
    

    }